/* src/components/DividerLogo.css */

.divider-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.divider-logo-line {
    flex: 1;
    height: 6px;
    background-image: linear-gradient(#ab938c 20%, transparent 36%, transparent 66%, #ab938c 20%);
    background-size: 100% 100%;
    margin: 0 30px;
}

.divider-logo-text {
    color: white;
    font-family: 'Tangerine', cursive;
    font-size: 60px; /* Default font size for larger screens */
}

/* Media query for smaller screens (e.g., phones) */
@media (max-width: 768px) {
    .divider-logo-text {
        font-size: 36px; /* Smaller font size for mobile */
    }
}

/* Media query for very small screens (e.g., smaller phones) */
@media (max-width: 480px) {
    .divider-logo-text {
        font-size: 28px; /* Even smaller font size for very small mobile */
    }
}